<div class="card mb-3 shadow-lg">
    <div class="card-body">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">
                    Похожие программы
                </a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">
                    Похожие программы на других сайтах
                </a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <table class="table table-borderless table-striped">
                    <tbody>
                        <tr>
                            <td class="align-middle">Mark</td>
                            <td class="d-flex justify-content-end"><a href="#" class="btn btn-secondary">Скачать</a></td>
                        </tr>
                        <tr>
                            <td class="align-middle">Jacob</td>
                            <td class="d-flex justify-content-end"><a href="#" class="btn btn-secondary">Скачать</a></td>
                        </tr>
                        <tr>
                            <td class="align-middle">Larry</td>
                            <td class="d-flex justify-content-end"><a href="#" class="btn btn-secondary">Скачать</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div class="mt-2 d-flex">
                    <div class="alert alert-secondary mr-2" role="alert">
                        Ссылка:
                    </div>
                    <div class="alert alert-primary flex-fill" role="alert">
                        A simple primary alert—check it out!
                    </div>
                </div>
                <div class="alert alert-secondary">
                    <p class="text-primary">
                        <b>Внимание!</b>
                    </p>
                    <span>
                        Это ссылка на особый .onion сайт. Чтобы открыть такой сайт,
                        необходимо выполнить предварительную настройку.
                    </span>
                    <p>
                        <span>
                            После настройки Вы сможете открывать не только .onion сайты, но и сайты,
                            заблокированные Вашим интернет провайдером.
                        </span>
                        <span>
                            Чтобы прочитать инструкцию по настройке, нажмите кнопку ниже.
                        </span>
                    </p>
                    <button type="button" class="btn btn-primary">
                        Да! Я хочу научиться открывать
                        заблокированные сайты и .onion сайты!
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

