<div class="card mb-3 text-center shadow-lg">
    <div class="card-header">
        ПОЛЬЗОВАТЕЛЬСКОЕ СОГЛАШЕНИЕ
    </div>
    <div class="card-body">
        <p class="card-text">
            Вы можете <b>использовать</b> эти материалы <b>только</b> в том случае, если использование производится <b>в ознакомительных целях</b>, для прочих целей Вы должны <a href="@Model.Program.off_site" target="_blank"><b>купить лицензию.</b></a><br />
            Ни при каких обстоятельствах Администрация не несет перед Пользователем, либо третьими лицами ответственности за ущерб, убытки или расходы, возникшие в связи с настоящим сайтом, его использованием или невозможностью использования, включая упущенную либо недополученную прибыль.<br />
            Если Вы не согласны с вышеуказанными условиями, Вы не имеете права использовать сайт.
        </p>
        <a href="@Url.RouteUrl("Default", new {controller = "Item", action = "DownloadFile"})" class="btn btn-success">Скачать</a>
    </div>
    <div class="card-footer text-muted">
        <i>Опубликовано @Model.DatePublic</i>
    </div>
</div>
